@{
    ViewData["Title"] = "Login";
}
<h2>Login</h2>
<p>Por favor, ingrese sus credenciales.</p>
<form method="post" >
   
    @if (!string.IsNullOrEmpty(ViewBag.Mensaje))
    {
        <div class="alert alert-warning">
            @ViewBag.Mensaje
        </div>
    }

    <div class="form-group">
       <label>Usuario</label>
        <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Usuario" required>
    </div>

    <div class="form-group">
        <label>Contraseña</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required>
    </div>
   
    <input type="submit" class="btn btn-primary" value="Ingresar" />
</form>